.box {
  position: relative;
  height: 360px;
  width: 360px;      
  margin: 10px;  
  background-color: #36a9e1;
  float: left;
  overflow: auto;  
}

.box-content {
  padding: 15px;
  position: absolute;
  top: 0;
  color: #b5dff4;
}

p {       
  width: 100%;
  padding: 0;  
  margin: 0;
  font-size: 22px;  
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-weight: bold;
  padding-bottom: 6px;
}

ul, code {
  font-size: 14px;  
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li {
  margin: 2px 0;  
}

ul li:not(:first-child):not(:last-child) {
  margin-left: 16px;  
}

.info-box {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin-top: 10px;
  float: left;
}

.info {
  transition-duration: 1s;
  color: black;
  font-size: 24px;
  margin-bottom: 16px;
}

.fade {  
  transition-duration: 0s;
  color: red;
}