/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration-line: none;
}

/* Page CSS starts here */

html {
	/* background-color: #111; */
}

.f-1 {	
	font-family: 'Oswald', sans-serif;	
}

.container {
	position: relative;
	height: 100vh;
}

footer span {
  color: #fff;
}

/* links stuff */

.links {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 98vh;
  width: 100vw;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	font-size: 22px;
	z-index: 20;
	pointer-events: none;
}

.links a {
	pointer-events: auto;
}

.links .top-links,
.links .bottom-links {
  padding: 12px 12px 0 12px;
}

.top-links header {
	text-align: center;
}

header .title {
	font-size: 22px;
	margin-bottom: 12px;
}

.links nav span {	
	opacity: .75;
	color: #aaa;
	padding: 0 8px;
	-webkit-transition-duration: .3s;
	     -o-transition-duration: .3s;
	        transition-duration: .3s;
}

.links nav span:hover {
	opacity: 1;	
}

nav span.active {	
	color: #333;
}

footer .mini-logo {
	position: relative;	
	height: 17px;
}

footer a {
	opacity: .75;
	color: #333;
	padding: 0px 5px;
	-webkit-transition-duration: .3s;
	     -o-transition-duration: .3s;
	        transition-duration: .3s;
	text-decoration: none;	
}

footer a:hover {
	opacity: 1;
}

footer a span { 
	height: 30px;
	position: relative;
	top: 6px;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	max-width: 0px;
	-webkit-transition-duration: 1s;
	     -o-transition-duration: 1s;
	        transition-duration: 1s;
	padding-left: 5px;
	font-size: 22px;
}

footer a i span {
	height: 22px;
	position: relative;	
	top: 0px;
}

.shadow {
	-webkit-filter: drop-shadow(2px 2px 1px black);
	        filter: drop-shadow(2px 2px 1px black);
}

/* content stuff */
main {
	position: relative;		
}

.content {
	/* height: 100%; */
	width: 100%;
	position: absolute;
	top: 0;
}

.sr__slice {
	pointer-events: auto;
}

@media only screen and (min-width: 600px) {
	.title {
		margin-right: 20px;
	}

	.links {
		height: 100%;
	}
	
	footer {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	
	.bottom-links {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-webkit-box-align: baseline;
		    -ms-flex-align: baseline;
		        align-items: baseline;
	}
	
	.links .top-links,	
	.links .bottom-links {
		padding: 30px;
	}
	
	header {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: baseline;
		    -ms-flex-align: baseline;
		        align-items: baseline;
	}

	header .title {
		font-size: 38px;		
	}

	footer .mini-logo {
		position: relative;	
		height: 26px;
	}

	footer a i {
		position: relative;
		top: -2px;
		font-size: 31px;
	}

	footer a:hover span{		
		max-width: 150px;
	}

	.sr__slice {
		pointer-events: none;
	}
}