#info {
  position: fixed;
  height: 100vh;
  z-index: 5;
  width: 100vw;  
}

#info_sr {
  pointer-events: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 7;
}

#hero_sr {
  pointer-events: none;
  position: relative;
  height: 33.3333vh;
}

#content_sr {
  pointer-events: none;
  position: relative;
  height: 66.6666vh;
}

.info-hero {
  position: relative;
  height: 33.3333vh;
  overflow: hidden;
}

.info-content {
  position: relative;
  height: 66.6666vh;  
}

.info-img {
  height: 100%;
  width: 100%;
  background-image: url(./images/nov.jpg);
  background-size: cover;
  background-position: center
}

.info-caption {
  position: absolute;
  bottom: -8px;  
  color: #fff;
  font-size: 84px
}

.info-text {
  line-height: 1.5em;
}

.info-content {
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.info-number {
  font-size: 64px;
  text-align: center;
}

.info-trivia {
  margin-bottom: 30px;
  text-align: center;
}

.info-quote {
  position: absolute;
  bottom: 0;
  color: #222;
  background-color: #eee;
  font-size: 24px;
  padding: 50px 15px 40px 15px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  line-height: 1.25em;
}

.info-quote:before {
  display: inline-block;
  position: absolute;
  top: 28px;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 20px;
  content: "\f10d";
  margin: auto;
}

.info-quote:after {
  display: inline-block;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 20px;
  content: "\f10e";
  margin: auto;
}

.info-author {
  position: absolute;
  top: -15px;
  z-index: 15;
  left: 50%;
  transform: translateX(-50%);
  padding: 4px 15px;
  background-color: #444;
  font-size: 18px;
  text-transform: uppercase;
}

.info-back {
  text-align: center;
  margin-bottom: 30px;
}

.info-text {
  padding: 0 15px;
}