.preloader {
  position: fixed;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	opacity: 1;  
	-webkit-transition-duration: .3s;  
	     -o-transition-duration: .3s;  
	        transition-duration: .3s;
	z-index: 1000;
	pointer-events: none;
}

.preloader-animation {
  position: fixed;
  height: 172px;
  width: 172px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.preloader-circle {
  position: relative;
  height: 64px;
  width: 64px;
  border-radius: 50%;
  outline: 1px solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pc-left {
  -webkit-animation: pcLeft 4s 0s infinite;
          animation: pcLeft 4s 0s infinite;
  background-color: white;
}

.pc-right {
  -webkit-animation: pcRight 4s 0s infinite;
          animation: pcRight 4s 0s infinite;
  background-color: white;
}

@-webkit-keyframes pcLeft {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    border-radius: 50% 50% 50% 50%;
  }
  12.5% {
    border-radius: 50% 50% 50% 0%;
  }
  25% {
    -webkit-transform: translate(54px, -54px);
            transform: translate(54px, -54px);
    border-radius: 50% 50% 50% 50%;
  }
  37.5% {
    border-radius: 0% 50% 50% 50%;
  }
  50% {
    -webkit-transform: translate(108px, 0px);
            transform: translate(108px, 0px);
    border-radius: 50% 50% 50% 50%;
  }
  62.5% {
    border-radius: 50% 0% 50% 50%;
  }
  75% {
    -webkit-transform: translate(54px, 54px);
            transform: translate(54px, 54px);
    border-radius: 50% 50% 50% 50%;
  }
  87.5% {
    border-radius: 50% 50% 0% 50%;
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    border-radius: 50% 50% 50% 50%;
  }
}

@keyframes pcLeft {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    border-radius: 50% 50% 50% 50%;
  }
  12.5% {
    border-radius: 50% 50% 50% 0%;
  }
  25% {
    -webkit-transform: translate(54px, -54px);
            transform: translate(54px, -54px);
    border-radius: 50% 50% 50% 50%;
  }
  37.5% {
    border-radius: 0% 50% 50% 50%;
  }
  50% {
    -webkit-transform: translate(108px, 0px);
            transform: translate(108px, 0px);
    border-radius: 50% 50% 50% 50%;
  }
  62.5% {
    border-radius: 50% 0% 50% 50%;
  }
  75% {
    -webkit-transform: translate(54px, 54px);
            transform: translate(54px, 54px);
    border-radius: 50% 50% 50% 50%;
  }
  87.5% {
    border-radius: 50% 50% 0% 50%;
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    border-radius: 50% 50% 50% 50%;
  }
}

@-webkit-keyframes pcRight {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    border-radius: 50% 50% 50% 50%;
  }
  12.5% {
    border-radius: 50% 0% 50% 50%;
  }
  25% {
    -webkit-transform: translate(-54px, 54px);
            transform: translate(-54px, 54px);
    border-radius: 50% 50% 50% 50%;
  }
  37.5% {
    border-radius: 50% 50% 0% 50%;
  }
  50% {
    -webkit-transform: translate(-108px, 0px);
            transform: translate(-108px, 0px);
    border-radius: 50% 50% 50% 50%;
  }
  62.5% {
    border-radius: 50% 50% 50% 0%;
  }
  75% {
    -webkit-transform: translate(-54px, -54px);
            transform: translate(-54px, -54px);
    border-radius: 50% 50% 50% 50%;
  }
  87.5% {
    border-radius: 0% 50% 50% 50%;
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    border-radius: 50% 50% 50% 50%;
  }
}

@keyframes pcRight {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    border-radius: 50% 50% 50% 50%;
  }
  12.5% {
    border-radius: 50% 0% 50% 50%;
  }
  25% {
    -webkit-transform: translate(-54px, 54px);
            transform: translate(-54px, 54px);
    border-radius: 50% 50% 50% 50%;
  }
  37.5% {
    border-radius: 50% 50% 0% 50%;
  }
  50% {
    -webkit-transform: translate(-108px, 0px);
            transform: translate(-108px, 0px);
    border-radius: 50% 50% 50% 50%;
  }
  62.5% {
    border-radius: 50% 50% 50% 0%;
  }
  75% {
    -webkit-transform: translate(-54px, -54px);
            transform: translate(-54px, -54px);
    border-radius: 50% 50% 50% 50%;
  }
  87.5% {
    border-radius: 0% 50% 50% 50%;
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    border-radius: 50% 50% 50% 50%;
  }
}