.sr__container {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  pointer-events: none;
  background-color: red;
  overflow: hidden;
}

.sr__container.sr__horizontal {
  flex-direction: column;
}

.sr__container.sr__vertical {
  flex-direction: row;
}

.sr__slices {}

.sr__slice {
  color: #fff;
  position: relative;
  background-color: currentColor;
  float: left; // transition-property: top, left, opacity;
  flex-grow: 1;
  transition-timing-function: cubic-bezier(.95, .15, .3, 1);
  box-shadow: 0 0 0 1px currentColor;
}

.sr__slice.sr__top {
  top: -101%;
  left: 0%;
}

.sr__slice.sr__bottom {
  top: 101%;
  left: 0%;
}

.sr__slice.sr__left {
  top: 0%;
  left: -101%;
}

.sr__slice.sr__right {
  top: 0%;
  left: 101%;
}

.sr__slice.sr__middle {
  top: 0%;
  left: 0px;
}